
p, li, span, label, input, text, .main-container a, textarea{
  font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif
}

h1{
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

h3{
  padding-top: 30px;
}

img{
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80%;
}

.pie{
  width: 50%;
}

.main-container{
  width: 80%;
}

.analysis-wrapper h2{
  margin: 0
}

.analysis-part-wrapper{
  margin: 0;
}
