
p, li, span, label, input, text, .main-container a, textarea{
  font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif
}

h1{
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

h3{
  padding-top: 30px;
}

img{
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80%;
}

.pie{
  width: 50%;
}

.main-container{
  max-width: 1000px;
  margin: 0 auto;
}

.links a:hover{
  font-size: 20px;
  font-size-adjust: 0.5;
  transition: 0.2s all ease-in-out ;
}

.analysis-part-wrapper{
  margin: 0;
}
