:root{
	--main-color:#587AAC;
	--secondary-color:#83A0C3;

	--border-color:#708DB4;
	--header-border-color: #57584c;

	--main-text:#fff;
	--secondary-text:#eeeeee;

	--theme-dot-border:#FFF;

	--preview-bg:#C5B9B3;
	--resume-hover: #2c4c6a;

	--button-color: #57584C;
	--link-color: rgb(25, 118, 210);
}