:root{
  --main-color: #fff;
  --secondary-color: #f8f8f8;
  
  --border-color: #c1c1c1;

  --main-text:black;
  --secondary-text: #4b5156;

  --theme-dot-border:#24292e;

  --preview-bg:rgb(251, 249, 243, 0.8);
  --resume-hover: rgba(230, 230, 230, 0.9);

  --button-color:black;
  --link-color: rgb(25, 118, 210);
}