:root{
	--main-color:#46344E;
	--secondary-color:#382a3f;

	--border-color:#1d1520;

	--main-text:#fff;
	--secondary-text:#eeeeee;

	--theme-dot-border:#FFF;

	--preview-bg:rgb(29, 21, 32, 0.8);
	--preview-shadow:#2b202f;


	--button-color:#8534a3;
}