{% extends "my_portfolio/base.html" %}
<!-- {% load static %} -->

{% block title %}Austin Nguyen{% endblock %}

{% block content %}
<section class="s1">
  <div class="intro-container reveal">
    <div class="intro-wrapper">
      <div class="left-column">
        <img id="profile_pic" src="{% static 'images/austin.jpg' %}">
      </div>
      
      <div class="right-column">
        <div class="greeting-wrapper">
          <h1>Austin Nguyen</h1>
        </div>
        
        <div class="preview-wrapper">
          <!-- <div id="preview"> -->
            <!-- <h3>Who Am I</h3> -->
            <!-- <p>I am a graduate student from The University of Western Australia.</p>
            <p>I love coding, analyzing data, and hacking the planet.</p> -->
            <p>I am a <span class="preview-typewriter"></span></p>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="about" class="s1">
  <div class="main-container reveal">
    <div class="about-wrapper">
      <div class="header-wrapper">
        <h1>About Me</h1>
      </div>
        <p>Hi, I am Austin, a Software Developer with a great passion for becoming an Indie Hacker.</p>
        <p>I graduated from the University of Western Australia with a bachelor's degree in Computer Science in December 2021.</p>
        <p>I am passionate about many things in the tech fields, including Machine Learning, Data Science, Web Development, and Cybersecurity.</p>
        <p>I am currently looking for career opportunities in the tech industry. Please send me an email if you are interested!</p>
    </div>
    <a class="resume" target="_blank" href="https://drive.google.com/file/d/1qBbefmzenfsTYr55Thi5EyOPTkKl1gH-/view?usp=sharing">Download My Resume</a>
    <!-- <iframe class="resume" target="_blank" src="{% static 'DuyKhiemNguyen-resume.' %}">Download My Resume</iframe> -->
  </div>
</section>

<section id="project" class="s1">
  <div class="main-container reveal">
    <div class="header-wrapper">
      <h1>Projects</h1>
    </div>
    
    <div class="project-wrapper">
      <div class="project">
        <div class="project-skills-wrapper">
          <img src="{% static 'images/icons/react.png' %}">
          <img src="{% static 'images/icons/nextjs.png' %}">
          <img src="{% static 'images/icons/openai.png' %}">
        </div>
        <!-- <img class="thumbnail" src="{% static 'images/thumbnails/chess.jpg' %}"> -->
        <div class="project-preview">
          <h6 class="project-title">WordfixerBot</h6>
          <p class="project-intro">An AI language processing tool that can paraphrase, grammar check, summarize, and compare text. </p>
          <p class="project-intro">Built with React, NextJS, and OpenAI GPT-3.</p>
        </div>
        <div class="project-link">
          <a target="_blank" href="https://www.wordfixerbot.com/">Site</a>
          <a target="_blank" href="wordfixerbot">Summary</a>
        </div>
      </div>

      <div class="project">
        <div class="project-skills-wrapper">
          <img src="{% static 'images/icons/react.png' %}">
          <img src="{% static 'images/icons/django.png' %}">
          <img src="{% static 'images/icons/spotify.png' %}">
        </div>
        <!-- <img class="thumbnail" src="{% static 'images/thumbnails/chess.jpg' %}"> -->
        <div class="project-preview">
          <h6 class="project-title">Recotify</h6>
          <p class="project-intro">A web application finding music tracks matching user's tastes with Spotify API</p>
          <p class="project-intro">Fetching data from Spotify API using Django on the backend.</p>
          <p class="project-intro">Built with React, Django, and Spotify API.</p>
        </div>
        <div class="project-link">
          <a target="_blank" href="https://www.recotify.com/">Site</a>
          <a target="_blank" href="recotify">Summary</a>
        </div>
      </div>

      <div class="project">
          <div class="project-skills-wrapper">
          <img src="{% static 'images/icons/tableau.png' %}">
          <img src="{% static 'images/icons/python.png' %}">
          <img src="{% static 'images/icons/selenium.png' %}">
          <img src="{% static 'images/icons/pandas.png' %}">
          <img src="{% static 'images/icons/matplotlib.png' %}">
          <img src="{% static 'images/icons/seaborn.png' %}">
        </div>
        <!-- <img class="thumbnail" src="{% static 'images/thumbnails/chess.jpg' %}"> -->
        <div class="project-preview">
          <h6 class="project-title">AusDask</h6>
          <p class="project-intro">An analysis of commonly required skills for data occupations - Data Analyst, Data Engineer, and Data Scientist - at different seniority levels in Australia in 2022</p>
          <p class="project-intro">The data source is scrapped using Python Selenium and cleansed afterwards</p>
          <p class="project-intro">The analytics dashboard is built with Tableau Public</p>
        </div>
        <div class="project-link">
          <a target="_blank" href="ausdask">Analysis</a>
          <a target="_blank" href="https://public.tableau.com/app/profile/austin.nguyen/viz/SkillsforDataJobs/DataJobsinAustralia">Tableau Dashboard</a>
        </div>
      </div>

      <div class="project">
        <div class="project-skills-wrapper">
          <img src="{% static 'images/icons/python.png' %}">
          <img src="{% static 'images/icons/pandas.png' %}">
          <img src="{% static 'images/icons/matplotlib.png' %}">
          <img src="{% static 'images/icons/seaborn.png' %}">
        </div>
        <!-- <img class="thumbnail" src="{% static 'images/thumbnails/chess.jpg' %}"> -->
        <div class="project-preview">
          <h6 class="project-title">Chopen</h6>
          <p class="project-intro">An exploratory data analysis (EDA) of different chess openings at different levels in rapid time format, find the highest win rate openings, and see their associated popularity.</p>
        </div>
        <div class="project-link">
          <a target="_blank" href="chopen">Analysis</a>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="s1">
  <div class="main-container reveal">
    <div class="header-wrapper">
      <h1>Skills</h1>
    </div>

    <div id="pentest-skills">
      <div class="header-wrapper">
        <h3>Web</h3>
      </div>

      <div class="pentest-skills-wrapper">
        <div class="pentest-skill-wrapper">
          <img src="{% static 'images/icons/react.png' %}">
          <p>React</p>
        </div>
        <div class="pentest-skill-wrapper">
          <img src="{% static 'images/icons/nextjs.png' %}">
          <p>NextJS</p>
        </div>
        <div class="pentest-skill-wrapper">
          <img src="{% static 'images/icons/django.png' %}">
          <p>Django</p>
        </div>
        <div class="pentest-skill-wrapper">
          <img src="{% static 'images/icons/nodejs.png' %}">
          <p>NodeJS</p>
        </div>
        <div class="pentest-skill-wrapper">
          <img src="{% static 'images/icons/flask.png' %}">
          <p>Flask</p>
        </div>
        <div class="pentest-skill-wrapper">
          <img src="{% static 'images/icons/firebase.png' %}">
          <p>Firebase</p>
        </div>
        <div class="pentest-skill-wrapper">
          <img src="{% static 'images/icons/aws.png' %}">
          <p>AWS</p>
        </div>
        <div class="pentest-skill-wrapper">
          <img src="{% static 'images/icons/javascript.png' %}">
          <p>Javascript</p>
        </div>
        <div class="pentest-skill-wrapper">
          <img src="{% static 'images/icons/html.png' %}">
          <p>HTML</p>
        </div>
        <div class="pentest-skill-wrapper">
          <img src="{% static 'images/icons/css.png' %}">
          <p>CSS</p>
        </div>
        <div class="pentest-skill-wrapper">
          <img src="{% static 'images/icons/sass.png' %}">
          <p>Sass</p>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="skills" class="s1">
  <div class="main-container reveal">
    <div id="data-skills">
      <div class="header-wrapper">
        <h3>Data</h3>
      </div>
      
      <div class="data-skills-wrapper">
        <div class="data-skill-wrapper">
          <img src="{% static 'images/icons/sql.png' %}">
          <p>SQL</p>
        </div>
        <div class="data-skill-wrapper">
          <img src="{% static 'images/icons/python.png' %}">
          <p>Python</p>
        </div>
        <div class="data-skill-wrapper">
          <img src="{% static 'images/icons/scikit-learn.png' %}">
          <p>Scikit Learn</p>
        </div>
        <div class="data-skill-wrapper">
          <img src="{% static 'images/icons/excel.png' %}">
          <p>Excel</p>
        </div>
        <div class="data-skill-wrapper">
          <img src="{% static 'images/icons/tableau.png' %}">
          <p>Tableau</p>
        </div>
        <div class="data-skill-wrapper">
          <img src="{% static 'images/icons/numpy.png' %}">
          <p>Numpy</p>
        </div>
        <div class="data-skill-wrapper">
          <img src="{% static 'images/icons/pandas.png' %}">
          <p>Pandas</p>
        </div>
        <div class="data-skill-wrapper">
          <img src="{% static 'images/icons/matplotlib.png' %}">
          <p>Matplotlib</p>
        </div>
        <div class="data-skill-wrapper">
          <img src="{% static 'images/icons/seaborn.png' %}">
          <p>Seaborn</p>
        </div>
      </div>

      <br>
    </div>
</section>

<section class="s1">
  <div class="main-container reveal">
    
    <div id="pentest-skills">
      <div class="header-wrapper">
        <h3>Pentesting</h3>
      </div>

      <div class="pentest-skills-wrapper">
        <div class="pentest-skill-wrapper">
          <img src="{% static 'images/icons/linux.png' %}">
          <p>Linux</p>
        </div>
        <div class="pentest-skill-wrapper">
          <img src="{% static 'images/icons/windows.png' %}">
          <p>Windows</p>
        </div>
        <div class="pentest-skill-wrapper">
          <img src="{% static 'images/icons/web.png' %}">
          <p>Web Pentesting</p>
        </div>
        <div class="pentest-skill-wrapper">
          <img src="{% static 'images/icons/network.png' %}">
          <p>Network Security</p>
        </div>
        <div class="pentest-skill-wrapper">
          <img src="{% static 'images/icons/active-directory.png' %}">
          <p>Active Directory</p>
        </div>
        <div class="pentest-skill-wrapper">
          <img src="{% static 'images/icons/privesc.png' %}">
          <p>Privilege Escalation</p>
        </div>
      </div>

      <!-- <hr style="height:1px;border-width:0;background-color:var(--border-color)"> -->

      <div class="pentest-badges-wrapper">
        <div class="pentest-badge">
          <script target="_blank" src="https://www.hackthebox.eu/badge/454589"></script>
          <p>Hack The Box Badge</p>
        </div>
        <div class="pentest-badge">
          <script src="https://tryhackme.com/badge/267973"></script>
          <p>Try Hack Me Badge</p>
        </div>
      </div>

    </div>



  </div>
</section>

<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
<script src="{% static 'js/typewriter.js' %}"></script>


{% endblock content %}
